<div class="info-container d-flex justify-content-center align-items-center">
  <div class="info-card shadow-lg p-4 rounded-4">

    
    <div class="header text-center" [class.visible]="showHeader">
      <img src="logo-app.png" alt="Logo Sportiva Booking" class="logo mb-3" />
      <h2 class="fw-bold mb-4">¿Qué ofrecemos en <span class="text-success">Sportiva Booking</span>?</h2>
    </div>

    
    @for (step of steps; track step) {
    <div class="info-item d-flex align-items-center mb-4" [class.visible]="step.visible">
      <div class="icon-circle bg-success text-white me-3">
        <i class="bi" [ngClass]="step.icon"></i>
      </div>
      <p class="mb-0">{{ step.text }}</p>
    </div>
}

    
    <div class="footer text-center mt-4 text-muted small" [class.visible]="showFooter">
      Molero Marín, Juan (2026) - Sportiva Booking &copy;
    </div>

  </div>
</div>