<div style="min-height: 100vh; background-color: #057b2a;"
  class="d-flex justify-content-center align-items-center position-relative">

  <div class="card shadow" style="width: 100%; max-width: 520px; border-radius: 12px;">
    <div class="card-body p-4 p-md-5" style="user-select: none;">

      <img src="logo-app.png" class="d-block mx-auto mb-3" style="width: 150px; height: 150px;" />

      @if (emailSent) {
        <div class="text-center">
          <i class="bi bi-envelope-check text-success" style="font-size: 3rem;"></i>
          <h5 class="fw-bold mt-3">¡Correo enviado!</h5>
          <p class="text-success" style="font-size: 0.9rem; font-weight: bold;">
            Revisa tu bandeja de entrada y sigue las instrucciones para restablecer tu contraseña.
          </p>
          <button class="btn btn-success px-4 mt-2" (click)="navigateToLogin()">
            Volver al inicio de sesión
          </button>
        </div>
      }

      @if (!emailSent) {
        <h5 class="text-center fw-bold mb-1">Restablecer contraseña</h5>
        <p class="text-center text-success mb-4 mt-3" style="font-size: 0.85rem; font-weight: bold;">
          Introduce tu correo y te enviaremos un enlace para restablecer tu contraseña.
        </p>

        <form [formGroup]="resetForm" (ngSubmit)="sendResetEmail()">

          <div class="mb-4">
            <label class="form-label text-success" style="font-weight: bold;">Correo electrónico</label>
            <input type="email" class="form-control" placeholder="Introduce tu correo electrónico"
              formControlName="email" [ngClass]="{
                'is-invalid': resetForm.get('email')?.invalid && resetForm.get('email')?.touched,
                'is-valid': resetForm.get('email')?.valid && resetForm.get('email')?.touched
              }">
            
            @if (resetForm.get('email')?.touched && resetForm.get('email')?.hasError('required')) {
              <small class="text-danger d-block text-center mt-2" style="font-weight: bold;">El correo electrónico es obligatorio.</small>
            }
            @if (resetForm.get('email')?.touched && resetForm.get('email')?.hasError('invalidEmail')) {
              <small class="text-danger d-block text-center mt-2" style="font-weight: bold;">Introduce un correo electrónico válido.</small>
            }
          </div>

          <div class="text-center d-flex flex-column gap-3">
            <button type="submit" class="btn btn-success px-4">
              Enviar correo
            </button>

            <button type="button" class="btn btn-outline-success px-4" (click)="navigateToLogin()">
              Volver al Login
            </button>
          </div>

        </form>
      }

    </div>
  </div>

</div>